python-dotenv
pydantic
loguru
pyyaml
jupyter
notebook
ipykernel
pandas
numpy
tqdm
pypdf
openai
weaviate-client
sentence-transformers
rouge-score
matplotlib
seaborn
pymupdf
pdfplumber
unstructured
langchain-text-splitters